In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import random

In [21]:
reproduciblity = True
if reproduciblity:
    random.seed(10)

In [34]:
m4s = ["Daily", "Hourly", "Weekly"]
M4_TYPE = m4s[1]

df_train = pd.read_csv(f"Dataset/M4/{M4_TYPE}-train.csv")
df_test = pd.read_csv(f"Dataset/M4/{M4_TYPE}-test.csv")

In [38]:
data_arr = df_train.iloc[:, 1:].values
data_arr = list(data_arr)
for i, ts in enumerate(data_arr):
    data_arr[i] = ts[~np.isnan(ts)][None, :]

In [41]:
len(data_arr)

414

In [42]:
def give_indexes(df_train):
    data_arr = df_train.iloc[:, 1:].values
    data_arr = list(data_arr)
    for i, ts in enumerate(data_arr):
        data_arr[i] = ts[~np.isnan(ts)][None, :]
    indexes = []
    for ind in range(len(data_arr)):
        if data_arr[ind].shape[1] > 0:
            indexes.append(ind)
    return indexes

In [43]:
indexes = give_indexes(df_train)

In [44]:
len(indexes)

414

In [45]:
random.seed(10)
randomlist = random.sample(indexes, 414)
randomlist

[292,
 16,
 219,
 247,
 295,
 7,
 105,
 236,
 251,
 142,
 334,
 82,
 17,
 266,
 250,
 167,
 38,
 127,
 381,
 184,
 22,
 215,
 71,
 308,
 181,
 195,
 392,
 145,
 345,
 134,
 233,
 89,
 351,
 155,
 338,
 185,
 68,
 383,
 122,
 225,
 314,
 192,
 393,
 298,
 2,
 120,
 377,
 99,
 380,
 274,
 187,
 375,
 160,
 341,
 281,
 230,
 223,
 240,
 33,
 403,
 299,
 166,
 256,
 80,
 114,
 211,
 362,
 18,
 412,
 254,
 154,
 310,
 336,
 36,
 273,
 41,
 76,
 196,
 290,
 191,
 307,
 337,
 57,
 49,
 226,
 85,
 97,
 178,
 221,
 212,
 228,
 125,
 140,
 73,
 316,
 267,
 91,
 61,
 136,
 376,
 343,
 84,
 382,
 90,
 245,
 177,
 398,
 222,
 349,
 369,
 278,
 371,
 169,
 163,
 124,
 40,
 384,
 229,
 207,
 81,
 199,
 253,
 123,
 268,
 139,
 400,
 410,
 255,
 32,
 328,
 399,
 406,
 205,
 69,
 387,
 277,
 326,
 275,
 198,
 283,
 312,
 374,
 50,
 324,
 346,
 1,
 224,
 355,
 25,
 179,
 47,
 77,
 55,
 232,
 248,
 391,
 234,
 357,
 323,
 87,
 378,
 66,
 296,
 201,
 303,
 117,
 108,
 339,
 352,
 133,
 260,
 244,
 39,
 189,
 60,
 402,
 158,
 8,
 175,
 271,
 164,
 231,
 150,
 147,
 270,
 361,
 347,
 6,
 206,
 29,
 75,
 111,
 217,
 411,
 63,
 183,
 74,
 302,
 11,
 152,
 321,
 360,
 27,
 209,
 320,
 379,
 171,
 227,
 340,
 92,
 214,
 102,
 364,
 330,
 311,
 46,
 20,
 151,
 200,
 109,
 53,
 24,
 235,
 78,
 118,
 390,
 242,
 394,
 287,
 305,
 170,
 404,
 193,
 367,
 203,
 93,
 318,
 286,
 176,
 335,
 389,
 413,
 156,
 104,
 327,
 309,
 51,
 401,
 172,
 216,
 14,
 293,
 65,
 204,
 116,
 165,
 388,
 72,
 119,
 395,
 129,
 396,
 153,
 67,
 103,
 113,
 344,
 162,
 70,
 291,
 186,
 272,
 182,
 21,
 138,
 249,
 149,
 43,
 106,
 385,
 190,
 4,
 83,
 238,
 269,
 101,
 95,
 359,
 262,
 23,
 30,
 213,
 241,
 12,
 258,
 128,
 218,
 329,
 28,
 409,
 264,
 9,
 173,
 372,
 143,
 210,
 56,
 202,
 313,
 304,
 257,
 265,
 315,
 237,
 110,
 252,
 194,
 208,
 159,
 246,
 88,
 325,
 148,
 132,
 301,
 276,
 137,
 96,
 332,
 294,
 141,
 197,
 15,
 322,
 44,
 131,
 3,
 180,
 161,
 79,
 279,
 358,
 107,
 354,
 408,
 405,
 365,
 239,
 331,
 243,
 373,
 220,
 52,
 348,
 319,
 59,
 363,
 35,
 285,
 188,
 366,
 368,
 317,
 98,
 86,
 112,
 259,
 100,
 370,
 45,
 58,
 126,
 146,
 353,
 64,
 306,
 350,
 37,
 10,
 19,
 300,
 42,
 289,
 261,
 130,
 284,
 31,
 26,
 5,
 48,
 174,
 356,
 34,
 13,
 263,
 157,
 333,
 94,
 135,
 407,
 168,
 62,
 280,
 297,
 0,
 288,
 282,
 342,
 121,
 144,
 386,
 115,
 54,
 397]

In [46]:
train_series = df_train.iloc[randomlist,:]
test_series = df_test.iloc[randomlist,:]

In [47]:
sum(train_series.index == test_series.index) == len(train_series)

True

In [48]:
train_series

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V952,V953,V954,V955,V956,V957,V958,V959,V960,V961
292,H293,12.5,12.0,11.6,11.2,10.8,10.6,10.3,10.1,10.6,...,23.4,23.9,23.9,23.6,22.7,21.2,19.8,18.8,17.9,17.3
16,H17,52694.0,50487.0,48905.0,47791.0,44692.0,40769.0,37456.0,35119.0,33638.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219,H220,13.3,12.4,11.7,11.2,10.6,10.2,10.1,11.8,13.9,...,28.7,29.2,29.3,28.9,27.9,26.1,24.3,22.7,21.2,19.8
247,H248,11.1,12.4,14.2,15.7,16.8,17.6,18.2,18.4,18.5,...,23.4,23.3,22.8,22.2,21.1,19.8,19.2,18.7,18.1,17.1
295,H296,12.7,12.0,11.4,10.8,10.5,10.1,10.6,12.2,14.1,...,26.4,26.7,26.8,26.6,26.2,25.1,23.2,21.2,19.8,18.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,H145,866.0,541.0,465.0,337.0,114.0,103.0,82.0,265.0,439.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
386,H387,17.0,15.0,17.0,13.0,13.0,12.0,13.0,20.0,22.0,...,50.0,60.0,66.0,63.0,54.0,48.0,46.0,36.0,28.0,28.0
115,H116,4205.0,3939.0,3672.0,3384.0,3090.0,2794.0,2578.0,2485.0,2417.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,H55,618.0,614.0,612.0,603.0,590.0,595.0,557.0,506.0,468.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
397,H398,55.0,52.0,31.0,30.0,21.0,19.0,30.0,43.0,46.0,...,143.0,187.0,235.0,264.0,182.0,94.0,97.0,74.0,48.0,41.0

In [49]:
M4_TYPE

'Hourly'

In [50]:
def feature_extractor(data):
    data.loc[:,"y-1"] = data.loc[:,"y"].shift(1)
    data.loc[:,"y-2"] = data.loc[:,"y"].shift(2)
    data.loc[:,"y-3"] = data.loc[:,"y"].shift(3)
    
    if M4_TYPE == "Hourly":
        data.loc[:,"y-24"] = data.loc[:,"y"].shift(24)
        data.loc[:,"y-36"] = data.loc[:,"y"].shift(36)
        data.loc[:,"y-48"] = data.loc[:,"y"].shift(48)
        
        
        data.loc[:,"y-1_rolling_mean_4"] = data.loc[:,"y-1"].rolling(4).mean()
        data.loc[:,"y-1_rolling_std_4"] = data.loc[:,"y-1"].rolling(4).std()

        data.loc[:,"y-1_rolling_mean_7"] = data.loc[:,"y-1"].rolling(12).mean()
        data.loc[:,"y-1_rolling_std_7"] = data.loc[:,"y-1"].rolling(12).std()

        data.loc[:,"y-1_rolling_mean_28"] = data.loc[:,"y-1"].rolling(24).mean()
        data.loc[:,"y-1_rolling_std_28"] = data.loc[:,"y-1"].rolling(24).std()
        
        
        data.loc[:,"y-24_rolling_mean_4"] = data.loc[:,"y-24"].rolling(4).mean()
        data.loc[:,"y-24_rolling_std_4"] = data.loc[:,"y-24"].rolling(4).std()

        data.loc[:,"y-24_rolling_mean_7"] = data.loc[:,"y-24"].rolling(12).mean()
        data.loc[:,"y-24_rolling_std_7"] = data.loc[:,"y-24"].rolling(12).std()

        data.loc[:,"y-24_rolling_mean_28"] = data.loc[:,"y-24"].rolling(24).mean()
        data.loc[:,"y-24_rolling_std_28"] = data.loc[:,"y-24"].rolling(24).std()
        
        
        
    if M4_TYPE == "Weekly":
    
        data.loc[:,"y-4"] = data.loc[:,"y"].shift(4)
        data.loc[:,"y-52"] = data.loc[:,"y"].shift(52)
        data.loc[:,"y-104"] = data.loc[:,"y"].shift(104)
        
        
        data.loc[:,"y-1_rolling_mean_4"] = data.loc[:,"y-1"].rolling(4).mean()
        data.loc[:,"y-1_rolling_std_4"] = data.loc[:,"y-1"].rolling(4).std()

        data.loc[:,"y-1_rolling_mean_7"] = data.loc[:,"y-1"].rolling(12).mean()
        data.loc[:,"y-1_rolling_std_7"] = data.loc[:,"y-1"].rolling(12).std()
        
        

    if M4_TYPE == "Daily":
        data.loc[:,"y-7"] = data.loc[:,"y"].shift(7)
        data.loc[:,"y-14"] = data.loc[:,"y"].shift(14)
        data.loc[:,"y-28"] = data.loc[:,"y"].shift(28)
        
    
        data.loc[:,"y-1_rolling_mean_4"] = data.loc[:,"y-1"].rolling(4).mean()
        data.loc[:,"y-1_rolling_std_4"] = data.loc[:,"y-1"].rolling(4).std()

        data.loc[:,"y-1_rolling_mean_7"] = data.loc[:,"y-1"].rolling(7).mean()
        data.loc[:,"y-1_rolling_std_7"] = data.loc[:,"y-1"].rolling(7).std()

        data.loc[:,"y-1_rolling_mean_28"] = data.loc[:,"y-1"].rolling(28).mean()
        data.loc[:,"y-1_rolling_std_28"] = data.loc[:,"y-1"].rolling(28).std()
        
        
        data.loc[:,"y-2_rolling_mean_4"] = data.loc[:,"y-2"].rolling(4).mean()
        data.loc[:,"y-2_rolling_std_4"] = data.loc[:,"y-2"].rolling(4).std()

        data.loc[:,"y-2_rolling_mean_7"] = data.loc[:,"y-2"].rolling(7).mean()
        data.loc[:,"y-2_rolling_std_7"] = data.loc[:,"y-2"].rolling(7).std()

        data.loc[:,"y-2_rolling_mean_28"] = data.loc[:,"y-2"].rolling(28).mean()
        data.loc[:,"y-2_rolling_std_28"] = data.loc[:,"y-2"].rolling(28).std()
        


    
    data = data.dropna()
    
    data.index = np.arange(len(data))
    return data

In [51]:
test_series

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V40,V41,V42,V43,V44,V45,V46,V47,V48,V49
292,H293,16.6,16.1,15.7,15.3,15.1,14.7,14.6,14.7,16.0,...,23.8,24.2,24.2,23.8,22.9,21.4,20.1,19.1,18.2,17.5
16,H17,54410.0,49762.0,45797.0,42817.0,40629.0,39188.0,38627.0,39456.0,41011.0,...,60320.0,63462.0,65509.0,66252.0,65779.0,64382.0,61766.0,58776.0,56530.0,54269.0
219,H220,18.7,17.7,16.8,16.0,15.2,14.7,15.7,17.6,19.8,...,29.0,29.6,29.7,29.3,28.3,26.5,24.6,23.0,21.5,20.1
247,H248,16.6,16.3,15.9,15.6,15.5,16.3,17.3,18.8,20.4,...,23.1,22.4,21.3,20.1,19.5,18.9,18.3,17.3,16.9,16.5
295,H296,18.2,17.6,17.1,16.6,16.2,15.8,16.4,18.1,19.8,...,26.6,26.9,27.0,26.8,26.3,25.2,23.3,21.3,19.9,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,H145,42.0,117.0,484.0,1342.0,2551.0,1613.0,1692.0,2090.0,2846.0,...,2829.0,1817.0,1379.0,1124.0,836.0,555.0,172.0,79.0,42.0,35.0
386,H387,20.0,13.0,19.0,16.0,17.0,28.0,21.0,24.0,25.0,...,61.0,80.0,64.0,57.0,46.0,50.0,46.0,30.0,31.0,38.0
115,H116,2613.0,2410.0,2282.0,2187.0,2149.0,2129.0,2215.0,2389.0,2534.0,...,3221.0,3217.0,3345.0,3462.0,3534.0,3349.0,3244.0,3059.0,2843.0,2696.0
54,H55,582.0,590.0,543.0,490.0,453.0,427.0,423.0,409.0,416.0,...,587.0,602.0,612.0,622.0,637.0,641.0,646.0,644.0,626.0,606.0
397,H398,36.0,23.0,19.0,16.0,25.0,36.0,67.0,144.0,127.0,...,214.0,220.0,239.0,269.0,236.0,164.0,139.0,109.0,124.0,72.0

In [52]:
for data_i in range(len(train_series)):
    Xdf = train_series.iloc[data_i] 
    Xdf = Xdf.dropna()
    Xdf = Xdf.iloc[1:]
    ydf = test_series.iloc[data_i] 
    ydf = ydf.iloc[1:]
    df = pd.concat([Xdf,ydf])
    data = pd.DataFrame({"y": df})
    data.index = np.arange(len(data))
    data = feature_extractor(data)
    print(f"{data_i} shape of new data {data.shape}")
    data.to_csv(f"Dataset/Extracted_M4/{data_i}_M4_{M4_TYPE}.csv")

0 shape of new data (960, 19)
1 shape of new data (700, 19)
2 shape of new data (960, 19)
3 shape of new data (960, 19)
4 shape of new data (960, 19)
5 shape of new data (700, 19)
6 shape of new data (700, 19)
7 shape of new data (960, 19)
8 shape of new data (960, 19)
9 shape of new data (700, 19)
10 shape of new data (960, 19)
11 shape of new data (700, 19)
12 shape of new data (700, 19)
13 shape of new data (960, 19)
14 shape of new data (960, 19)
15 shape of new data (700, 19)
16 shape of new data (700, 19)
17 shape of new data (700, 19)
18 shape of new data (960, 19)
19 shape of new data (960, 19)
20 shape of new data (700, 19)
21 shape of new data (960, 19)
22 shape of new data (700, 19)
23 shape of new data (960, 19)
24 shape of new data (960, 19)
25 shape of new data (960, 19)
26 shape of new data (960, 19)
27 shape of new data (700, 19)
28 shape of new data (960, 19)
29 shape of new data (700, 19)
30 shape of new data (960, 19)
31 shape of new data (700, 19)
32 shape of new data (960, 19)
33 shape of new data (700, 19)
34 shape of new data (960, 19)
35 shape of new data (960, 19)
36 shape of new data (700, 19)
37 shape of new data (960, 19)
38 shape of new data (700, 19)
39 shape of new data (960, 19)
40 shape of new data (960, 19)
41 shape of new data (960, 19)
42 shape of new data (960, 19)
43 shape of new data (960, 19)
44 shape of new data (700, 19)
45 shape of new data (700, 19)
46 shape of new data (960, 19)
47 shape of new data (700, 19)
48 shape of new data (960, 19)
49 shape of new data (960, 19)
50 shape of new data (960, 19)
51 shape of new data (960, 19)
52 shape of new data (700, 19)
53 shape of new data (960, 19)
54 shape of new data (960, 19)
55 shape of new data (960, 19)
56 shape of new data (960, 19)
57 shape of new data (960, 19)
58 shape of new data (700, 19)
59 shape of new data (960, 19)
60 shape of new data (960, 19)
61 shape of new data (700, 19)
62 shape of new data (960, 19)
63 shape of new data (700, 19)
64 shape of new data (700, 19)
65 shape of new data (960, 19)
66 shape of new data (960, 19)
67 shape of new data (700, 19)
68 shape of new data (960, 19)
69 shape of new data (960, 19)
70 shape of new data (700, 19)
71 shape of new data (960, 19)
72 shape of new data (960, 19)
73 shape of new data (700, 19)
74 shape of new data (960, 19)
75 shape of new data (700, 19)
76 shape of new data (700, 19)
77 shape of new data (960, 19)
78 shape of new data (960, 19)
79 shape of new data (960, 19)
80 shape of new data (960, 19)
81 shape of new data (960, 19)
82 shape of new data (700, 19)
83 shape of new data (700, 19)
84 shape of new data (960, 19)
85 shape of new data (700, 19)
86 shape of new data (700, 19)
87 shape of new data (960, 19)
88 shape of new data (960, 19)
89 shape of new data (960, 19)
90 shape of new data (960, 19)
91 shape of new data (700, 19)
92 shape of new data (700, 19)
93 shape of new data (700, 19)
94 shape of new data (960, 19)
95 shape of new data (960, 19)
96 shape of new data (700, 19)
97 shape of new data (700, 19)
98 shape of new data (700, 19)
99 shape of new data (960, 19)
100 shape of new data (960, 19)
101 shape of new data (700, 19)
102 shape of new data (960, 19)
103 shape of new data (700, 19)
104 shape of new data (960, 19)
105 shape of new data (960, 19)
106 shape of new data (960, 19)
107 shape of new data (960, 19)
108 shape of new data (960, 19)
109 shape of new data (960, 19)
110 shape of new data (960, 19)
111 shape of new data (960, 19)
112 shape of new data (960, 19)
113 shape of new data (700, 19)
114 shape of new data (700, 19)
115 shape of new data (700, 19)
116 shape of new data (960, 19)
117 shape of new data (960, 19)
118 shape of new data (960, 19)
119 shape of new data (700, 19)
120 shape of new data (960, 19)
121 shape of new data (960, 19)
122 shape of new data (700, 19)
123 shape of new data (960, 19)
124 shape of new data (700, 19)
125 shape of new data (960, 19)
126 shape of new data (960, 19)
127 shape of new data (960, 19)
128 shape of new data (700, 19)
129 shape of new data (960, 19)
130 shape of new data (960, 19)
131 shape of new data (960, 19)
132 shape of new data (960, 19)
133 shape of new data (700, 19)
134 shape of new data (960, 19)
135 shape of new data (960, 19)
136 shape of new data (960, 19)
137 shape of new data (960, 19)
138 shape of new data (960, 19)
139 shape of new data (960, 19)
140 shape of new data (960, 19)
141 shape of new data (960, 19)
142 shape of new data (700, 19)
143 shape of new data (960, 19)
144 shape of new data (960, 19)
145 shape of new data (700, 19)
146 shape of new data (960, 19)
147 shape of new data (960, 19)
148 shape of new data (700, 19)
149 shape of new data (960, 19)
150 shape of new data (700, 19)
151 shape of new data (700, 19)
152 shape of new data (700, 19)
153 shape of new data (960, 19)
154 shape of new data (960, 19)
155 shape of new data (960, 19)
156 shape of new data (960, 19)
157 shape of new data (960, 19)
158 shape of new data (960, 19)
159 shape of new data (700, 19)
160 shape of new data (960, 19)
161 shape of new data (700, 19)
162 shape of new data (960, 19)
163 shape of new data (960, 19)
164 shape of new data (960, 19)
165 shape of new data (700, 19)
166 shape of new data (700, 19)
167 shape of new data (960, 19)
168 shape of new data (960, 19)
169 shape of new data (700, 19)
170 shape of new data (960, 19)
171 shape of new data (960, 19)
172 shape of new data (700, 19)
173 shape of new data (960, 19)
174 shape of new data (700, 19)
175 shape of new data (960, 19)
176 shape of new data (700, 19)
177 shape of new data (700, 19)
178 shape of new data (960, 19)
179 shape of new data (960, 19)
180 shape of new data (700, 19)
181 shape of new data (960, 19)
182 shape of new data (700, 19)
183 shape of new data (700, 19)
184 shape of new data (960, 19)
185 shape of new data (960, 19)
186 shape of new data (960, 19)
187 shape of new data (700, 19)
188 shape of new data (960, 19)
189 shape of new data (700, 19)
190 shape of new data (700, 19)
191 shape of new data (700, 19)
192 shape of new data (960, 19)
193 shape of new data (960, 19)
194 shape of new data (700, 19)
195 shape of new data (960, 19)
196 shape of new data (700, 19)
197 shape of new data (960, 19)
198 shape of new data (700, 19)
199 shape of new data (700, 19)
200 shape of new data (960, 19)
201 shape of new data (960, 19)
202 shape of new data (700, 19)
203 shape of new data (960, 19)
204 shape of new data (960, 19)
205 shape of new data (960, 19)
206 shape of new data (960, 19)
207 shape of new data (960, 19)
208 shape of new data (960, 19)
209 shape of new data (700, 19)
210 shape of new data (960, 19)
211 shape of new data (700, 19)
212 shape of new data (960, 19)
213 shape of new data (960, 19)
214 shape of new data (960, 19)
215 shape of new data (700, 19)
216 shape of new data (700, 19)
217 shape of new data (700, 19)
218 shape of new data (960, 19)
219 shape of new data (700, 19)
220 shape of new data (700, 19)
221 shape of new data (700, 19)
222 shape of new data (960, 19)
223 shape of new data (700, 19)
224 shape of new data (700, 19)
225 shape of new data (960, 19)
226 shape of new data (960, 19)
227 shape of new data (960, 19)
228 shape of new data (960, 19)
229 shape of new data (960, 19)
230 shape of new data (960, 19)
231 shape of new data (960, 19)
232 shape of new data (960, 19)
233 shape of new data (960, 19)
234 shape of new data (960, 19)
235 shape of new data (700, 19)
236 shape of new data (960, 19)
237 shape of new data (960, 19)
238 shape of new data (960, 19)
239 shape of new data (960, 19)
240 shape of new data (960, 19)
241 shape of new data (960, 19)
242 shape of new data (700, 19)
243 shape of new data (700, 19)
244 shape of new data (960, 19)
245 shape of new data (960, 19)
246 shape of new data (700, 19)
247 shape of new data (960, 19)
248 shape of new data (960, 19)
249 shape of new data (960, 19)
250 shape of new data (700, 19)
251 shape of new data (960, 19)
252 shape of new data (700, 19)
253 shape of new data (960, 19)
254 shape of new data (700, 19)
255 shape of new data (700, 19)
256 shape of new data (960, 19)
257 shape of new data (700, 19)
258 shape of new data (700, 19)
259 shape of new data (960, 19)
260 shape of new data (700, 19)
261 shape of new data (960, 19)
262 shape of new data (700, 19)
263 shape of new data (700, 19)
264 shape of new data (700, 19)
265 shape of new data (700, 19)
266 shape of new data (960, 19)
267 shape of new data (700, 19)
268 shape of new data (700, 19)
269 shape of new data (960, 19)
270 shape of new data (960, 19)
271 shape of new data (960, 19)
272 shape of new data (960, 19)
273 shape of new data (700, 19)
274 shape of new data (700, 19)
275 shape of new data (960, 19)
276 shape of new data (700, 19)
277 shape of new data (700, 19)
278 shape of new data (700, 19)
279 shape of new data (960, 19)
280 shape of new data (960, 19)
281 shape of new data (700, 19)
282 shape of new data (700, 19)
283 shape of new data (960, 19)
284 shape of new data (960, 19)
285 shape of new data (700, 19)
286 shape of new data (700, 19)
287 shape of new data (960, 19)
288 shape of new data (960, 19)
289 shape of new data (700, 19)
290 shape of new data (700, 19)
291 shape of new data (960, 19)
292 shape of new data (960, 19)
293 shape of new data (700, 19)
294 shape of new data (960, 19)
295 shape of new data (700, 19)
296 shape of new data (960, 19)
297 shape of new data (960, 19)
298 shape of new data (700, 19)
299 shape of new data (960, 19)
300 shape of new data (960, 19)
301 shape of new data (700, 19)
302 shape of new data (960, 19)
303 shape of new data (960, 19)
304 shape of new data (700, 19)
305 shape of new data (960, 19)
306 shape of new data (700, 19)
307 shape of new data (960, 19)
308 shape of new data (960, 19)
309 shape of new data (960, 19)
310 shape of new data (960, 19)
311 shape of new data (960, 19)
312 shape of new data (960, 19)
313 shape of new data (960, 19)
314 shape of new data (700, 19)
315 shape of new data (960, 19)
316 shape of new data (960, 19)
317 shape of new data (960, 19)
318 shape of new data (700, 19)
319 shape of new data (960, 19)
320 shape of new data (700, 19)
321 shape of new data (960, 19)
322 shape of new data (700, 19)
323 shape of new data (700, 19)
324 shape of new data (960, 19)
325 shape of new data (960, 19)
326 shape of new data (700, 19)
327 shape of new data (700, 19)
328 shape of new data (960, 19)
329 shape of new data (960, 19)
330 shape of new data (700, 19)
331 shape of new data (960, 19)
332 shape of new data (700, 19)
333 shape of new data (960, 19)
334 shape of new data (700, 19)
335 shape of new data (700, 19)
336 shape of new data (700, 19)
337 shape of new data (960, 19)
338 shape of new data (700, 19)
339 shape of new data (700, 19)
340 shape of new data (960, 19)
341 shape of new data (960, 19)
342 shape of new data (700, 19)
343 shape of new data (960, 19)
344 shape of new data (960, 19)
345 shape of new data (960, 19)
346 shape of new data (960, 19)
347 shape of new data (960, 19)
348 shape of new data (960, 19)
349 shape of new data (960, 19)
350 shape of new data (960, 19)
351 shape of new data (960, 19)
352 shape of new data (700, 19)
353 shape of new data (960, 19)
354 shape of new data (960, 19)
355 shape of new data (700, 19)
356 shape of new data (960, 19)
357 shape of new data (700, 19)
358 shape of new data (960, 19)
359 shape of new data (960, 19)
360 shape of new data (960, 19)
361 shape of new data (960, 19)
362 shape of new data (960, 19)
363 shape of new data (700, 19)
364 shape of new data (700, 19)
365 shape of new data (700, 19)
366 shape of new data (960, 19)
367 shape of new data (700, 19)
368 shape of new data (960, 19)
369 shape of new data (700, 19)
370 shape of new data (700, 19)
371 shape of new data (700, 19)
372 shape of new data (700, 19)
373 shape of new data (960, 19)
374 shape of new data (700, 19)
375 shape of new data (960, 19)
376 shape of new data (960, 19)
377 shape of new data (700, 19)
378 shape of new data (700, 19)
379 shape of new data (700, 19)
380 shape of new data (960, 19)
381 shape of new data (700, 19)
382 shape of new data (960, 19)
383 shape of new data (960, 19)
384 shape of new data (700, 19)
385 shape of new data (960, 19)
386 shape of new data (700, 19)
387 shape of new data (700, 19)
388 shape of new data (700, 19)
389 shape of new data (700, 19)
390 shape of new data (960, 19)
391 shape of new data (960, 19)
392 shape of new data (700, 19)
393 shape of new data (700, 19)
394 shape of new data (960, 19)
395 shape of new data (700, 19)
396 shape of new data (960, 19)
397 shape of new data (700, 19)
398 shape of new data (700, 19)
399 shape of new data (960, 19)
400 shape of new data (700, 19)
401 shape of new data (700, 19)
402 shape of new data (960, 19)
403 shape of new data (960, 19)
404 shape of new data (700, 19)
405 shape of new data (960, 19)
406 shape of new data (960, 19)
407 shape of new data (960, 19)
408 shape of new data (700, 19)
409 shape of new data (700, 19)
410 shape of new data (960, 19)
411 shape of new data (700, 19)
412 shape of new data (700, 19)
413 shape of new data (960, 19)

In [35]:
deneme = pd.read_csv(f"Dataset/Created_M4/{22}_M4_hourly.csv")
deneme

,Unnamed: 0,y,y-1,y-2,y-3,y-24,y-36,y-48,y_rolling_mean_4,y_rolling_std_4,y_rolling_mean_24,y_rolling_std_24,y_rolling_mean_36,y_rolling_std_36,y_rolling_mean_48,y_rolling_std_48
0,0,351.0,396.0,417.0,439.0,196.0,116.0,178.0,400.75,37.526657,224.291667,148.813124,237.694444,132.614332,207.666667,126.392555
1,1,320.0,351.0,396.0,417.0,162.0,116.0,177.0,371.00,43.749286,230.875000,149.431186,243.361111,131.620483,210.645833,127.336126
2,2,275.0,320.0,351.0,396.0,159.0,124.0,149.0,335.50,50.993464,235.708333,148.880308,247.555556,130.105330,213.270833,127.337003
3,3,244.0,275.0,320.0,351.0,117.0,164.0,113.0,297.50,47.388466,241.000000,146.718897,249.777778,129.318237,216.000000,126.543576
4,4,213.0,244.0,275.0,320.0,111.0,265.0,110.0,263.00,45.658150,245.250000,144.245940,248.333333,129.433712,218.145833,125.577473
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,695,472.0,471.0,410.0,357.0,543.0,110.0,561.0,427.50,55.223787,263.958333,147.509316,323.527778,181.238042,308.541667,181.434586
696,696,472.0,472.0,471.0,410.0,527.0,145.0,538.0,456.25,30.836937,261.666667,143.621080,332.611111,180.226410,307.166667,179.902259
697,697,454.0,472.0,472.0,471.0,533.0,174.0,535.0,467.25,8.845903,258.375000,137.924306,340.388889,179.224883,305.479167,178.090461
698,698,266.0,454.0,472.0,472.0,429.0,216.0,529.0,416.00,100.359354,251.583333,133.085431,341.777778,178.425352,300.000000,175.087698
699,699,195.0,266.0,454.0,472.0,285.0,265.0,347.0,346.75,137.524240,247.833333,133.370575,339.833333,179.663097,296.833333,175.593381

##########################
BURADAN SONRASI DÜZENLENDİ VE ÜSTTEKİ FOR LOOPA ALINDI
##########################

In [125]:
Xdf = train_series.iloc[0] 
Xdf = Xdf.dropna()
Xdf = Xdf.iloc[1:]
Xdf

V2       6169.6
V3       6216.1
V4       6345.7
V5       6147.7
V6       6153.1
          ...
V1427    9448.3
V1428    9329.3
V1429    9399.8
V1430    9509.9
V1431    9563.6
Name: 3469, Length: 1430, dtype: object

In [126]:
ydf = test_series.iloc[0] 
ydf = ydf.iloc[1:]
ydf

V2     9590.2
V3     9565.6
V4     9530.8
V5     9449.5
V6     9173.0
V7     9309.7
V8     9408.5
V9     9505.7
V10    9505.7
V11    9488.9
V12    9398.5
V13    9350.4
V14    9381.2
V15    9402.4
Name: 3469, dtype: object

In [127]:
df = pd.concat([Xdf,ydf])
df

V2     6169.6
V3     6216.1
V4     6345.7
V5     6147.7
V6     6153.1
        ...
V11    9488.9
V12    9398.5
V13    9350.4
V14    9381.2
V15    9402.4
Name: 3469, Length: 1444, dtype: object

In [128]:
data = pd.DataFrame({"y": df})
data.index = np.arange(len(data))
data

           y
0     6169.6
1     6216.1
2     6345.7
3     6147.7
4     6153.1
...      ...
1439  9488.9
1440  9398.5
1441  9350.4
1442  9381.2
1443  9402.4

[1444 rows x 1 columns]

In [129]:
data.loc[:,"y-1"] = data.loc[:,"y"].shift(1)
data.loc[:,"y-2"] = data.loc[:,"y"].shift(2)
data.loc[:,"y-3"] = data.loc[:,"y"].shift(3)
data.loc[:,"y-4"] = data.loc[:,"y"].shift(4)

data.loc[:,"y-7"] = data.loc[:,"y"].shift(7)
data.loc[:,"y-14"] = data.loc[:,"y"].shift(14)
data.loc[:,"y-28"] = data.loc[:,"y"].shift(28)

data

           y     y-1     y-2     y-3     y-4     y-7    y-14    y-28
0     6169.6    None    None    None    None    None    None    None
1     6216.1  6169.6    None    None    None    None    None    None
2     6345.7  6216.1  6169.6    None    None    None    None    None
3     6147.7  6345.7  6216.1  6169.6    None    None    None    None
4     6153.1  6147.7  6345.7  6216.1  6169.6    None    None    None
...      ...     ...     ...     ...     ...     ...     ...     ...
1439  9488.9  9505.7  9505.7  9408.5  9309.7  9530.8  9448.3  9732.5
1440  9398.5  9488.9  9505.7  9505.7  9408.5  9449.5  9329.3  9816.6
1441  9350.4  9398.5  9488.9  9505.7  9505.7  9173.0  9399.8  9741.7
1442  9381.2  9350.4  9398.5  9488.9  9505.7  9309.7  9509.9  9818.4
1443  9402.4  9381.2  9350.4  9398.5  9488.9  9408.5  9563.6  9873.2

[1444 rows x 8 columns]

In [130]:

data.loc[:,"y_rolling_mean_4"] = data.loc[:,"y"].rolling(4).mean()
data.loc[:,"y_rolling_std_4"] = data.loc[:,"y"].rolling(4).std()

data.loc[:,"y_rolling_mean_7"] = data.loc[:,"y"].rolling(7).mean()
data.loc[:,"y_rolling_std_7"] = data.loc[:,"y"].rolling(7).std()

data.loc[:,"y_rolling_mean_14"] = data.loc[:,"y"].rolling(14).mean()
data.loc[:,"y_rolling_std_14"] = data.loc[:,"y"].rolling(14).std()

data.loc[:,"y_rolling_mean_28"] = data.loc[:,"y"].rolling(28).mean()
data.loc[:,"y_rolling_std_28"] = data.loc[:,"y"].rolling(28).std()

In [131]:
data

,y,y-1,y-2,y-3,y-4,y-7,y-14,y-28,y_rolling_mean_4,y_rolling_std_4,y_rolling_mean_7,y_rolling_std_7,y_rolling_mean_14,y_rolling_std_14,y_rolling_mean_28,y_rolling_std_28
0,6169.6,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6216.1,6169.6,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6345.7,6216.1,6169.6,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6147.7,6345.7,6216.1,6169.6,None,None,None,None,6219.775,88.662182,NaN,NaN,NaN,NaN,NaN,NaN
4,6153.1,6147.7,6345.7,6216.1,6169.6,None,None,None,6215.650,92.092182,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1439,9488.9,9505.7,9505.7,9408.5,9309.7,9530.8,9448.3,9732.5,9477.200,46.479673,9405.857143,123.971527,9452.157143,117.315542,9615.192857,204.984435
1440,9398.5,9488.9,9505.7,9505.7,9408.5,9449.5,9329.3,9816.6,9474.700,51.413617,9398.571429,122.468700,9457.100000,113.123942,9600.260714,204.997789
1441,9350.4,9398.5,9488.9,9505.7,9505.7,9173.0,9399.8,9741.7,9435.875,73.914472,9423.914286,78.457726,9453.571429,115.787813,9586.285714,208.309547
1442,9381.2,9350.4,9398.5,9488.9,9505.7,9309.7,9509.9,9818.4,9404.750,59.522573,9434.128571,64.527739,9444.378571,116.080285,9570.671429,206.645515
1443,9402.4,9381.2,9350.4,9398.5,9488.9,9408.5,9563.6,9873.2,9383.125,23.682254,9433.257143,64.971195,9432.864286,111.238680,9553.857143,200.170254

In [132]:
data = data.dropna()
data

,y,y-1,y-2,y-3,y-4,y-7,y-14,y-28,y_rolling_mean_4,y_rolling_std_4,y_rolling_mean_7,y_rolling_std_7,y_rolling_mean_14,y_rolling_std_14,y_rolling_mean_28,y_rolling_std_28
28,6040.5,6007.1,6044.1,6211.2,6255.3,6178.0,6059.5,6169.6,6075.725,91.840092,6131.057143,98.440775,6101.257143,93.554975,6100.735714,92.513988
29,5973.1,6040.5,6007.1,6044.1,6211.2,6164.7,5935.7,6216.1,6016.200,33.213050,6103.685714,113.076500,6103.928571,88.881126,6092.057143,92.688584
30,5817.4,5973.1,6040.5,6007.1,6044.1,6194.5,6023.5,6345.7,5959.525,98.664630,6049.814286,147.261179,6089.207143,116.121253,6073.189286,92.914865
31,5690.4,5817.4,5973.1,6040.5,6007.1,6255.3,6031.3,6147.7,5880.350,157.368241,5969.114286,169.057164,6064.857143,157.550205,6056.857143,116.524159
32,5640.2,5690.4,5817.4,5973.1,6040.5,6211.2,6053.3,6153.1,5780.275,148.613893,5887.542857,170.530436,6035.350000,194.283218,6038.539286,138.984146
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1439,9488.9,9505.7,9505.7,9408.5,9309.7,9530.8,9448.3,9732.5,9477.200,46.479673,9405.857143,123.971527,9452.157143,117.315542,9615.192857,204.984435
1440,9398.5,9488.9,9505.7,9505.7,9408.5,9449.5,9329.3,9816.6,9474.700,51.413617,9398.571429,122.468700,9457.100000,113.123942,9600.260714,204.997789
1441,9350.4,9398.5,9488.9,9505.7,9505.7,9173.0,9399.8,9741.7,9435.875,73.914472,9423.914286,78.457726,9453.571429,115.787813,9586.285714,208.309547
1442,9381.2,9350.4,9398.5,9488.9,9505.7,9309.7,9509.9,9818.4,9404.750,59.522573,9434.128571,64.527739,9444.378571,116.080285,9570.671429,206.645515
1443,9402.4,9381.2,9350.4,9398.5,9488.9,9408.5,9563.6,9873.2,9383.125,23.682254,9433.257143,64.971195,9432.864286,111.238680,9553.857143,200.170254

In [133]:
data.index = np.arange(len(data))

In [ ]:
data.to_csv(f"{data_i}_M4.csv")